.alert-view-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  width: auto;
  height: auto;
  z-index: 99998;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.alert-view + .alert-view-backdrop {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.alert-view {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.7);
  color: #fff;
  min-height: 120px;
  width: 278px;
  opacity: .96;
  text-align: center;
  display: inline-block;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  left: 50%;
  margin-left: -141px;
  top: 200px;
  position: absolute;
  overflow: hidden;
  z-index: 99999;
  background: rgb(51,66,106); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(51,66,106,1) 0%, rgba(34,49,89,1) 84%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(51,66,106,1)), color-stop(84%,rgba(34,49,89,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(51,66,106,1) 0%,rgba(34,49,89,1) 84%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(51,66,106,1) 0%,rgba(34,49,89,1) 84%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(51,66,106,1) 0%,rgba(34,49,89,1) 84%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(51,66,106,1) 0%,rgba(34,49,89,1) 84%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33426a', endColorstr='#223159',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.alert-view.av-zoom-1 {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.alert-view.av-zoom-2 {
  -webkit-transition: all .13s ease-in-out;
  -moz-transition: all .13s ease-in-out;
  -ms-transition: all .13s ease-in-out;
  -o-transition: all .13s ease-in-out;
  transition: all .13s ease-in-out;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
  transform: scale(.9);
}

.alert-view.av-zoom-3 {
  -webkit-transition: all .08s ease-in-out;
  -moz-transition: all .08s ease-in-out;
  -ms-transition: all .08s ease-in-out;
  -o-transition: all .08s ease-in-out;
  transition: all .08s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.alert-view:before {
  content: '';
  position:absolute;
  width:150%;
  height:50%;
  top:-22%;
  right:-25%;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 1%, rgba(255,255,255,0.22) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(255,255,255,0.5)), color-stop(50%,rgba(255,255,255,0.22)), color-stop(51%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.22) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.22) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.22) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 1%,rgba(255,255,255,0.22) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.alert-view a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  line-height: 24px;
  display: inline-block;
  height: 24px;
  position: relative;
  bottom: 2px;
  width: 118px;
  padding: 8px;
  margin: 0 2px;
  text-align: center;
  border: 0.05em solid #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(153,160,180,1) 2%, rgba(153,160,180,1) 3%, rgba(78,91,125,1) 50%, rgba(50,65,105,1) 51%, rgba(55,62,104,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(153,160,180,1)), color-stop(3%,rgba(153,160,180,1)), color-stop(50%,rgba(78,91,125,1)), color-stop(51%,rgba(50,65,105,1)), color-stop(100%,rgba(55,62,104,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,160,180,1) 2%,rgba(153,160,180,1) 3%,rgba(78,91,125,1) 50%,rgba(50,65,105,1) 51%,rgba(55,62,104,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,160,180,1) 2%,rgba(153,160,180,1) 3%,rgba(78,91,125,1) 50%,rgba(50,65,105,1) 51%,rgba(55,62,104,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,160,180,1) 2%,rgba(153,160,180,1) 3%,rgba(78,91,125,1) 50%,rgba(50,65,105,1) 51%,rgba(55,62,104,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(153,160,180,1) 2%,rgba(153,160,180,1) 3%,rgba(78,91,125,1) 50%,rgba(50,65,105,1) 51%,rgba(55,62,104,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#373e68',GradientType=0 ); /* IE6-9 */  
}

.alert-view a:hover {
  color: #fff;
}

.alert-view .alert-button-primary {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(185,191,204,1) 2%, rgba(185,191,204,1) 3%, rgba(129,138,162,1) 50%, rgba(97,109,139,1) 51%, rgba(113,123,150,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(2%,rgba(185,191,204,1)), color-stop(3%,rgba(185,191,204,1)), color-stop(50%,rgba(129,138,162,1)), color-stop(51%,rgba(97,109,139,1)), color-stop(100%,rgba(113,123,150,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(185,191,204,1) 2%,rgba(185,191,204,1) 3%,rgba(129,138,162,1) 50%,rgba(97,109,139,1) 51%,rgba(113,123,150,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(185,191,204,1) 2%,rgba(185,191,204,1) 3%,rgba(129,138,162,1) 50%,rgba(97,109,139,1) 51%,rgba(113,123,150,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(185,191,204,1) 2%,rgba(185,191,204,1) 3%,rgba(129,138,162,1) 50%,rgba(97,109,139,1) 51%,rgba(113,123,150,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(185,191,204,1) 2%,rgba(185,191,204,1) 3%,rgba(129,138,162,1) 50%,rgba(97,109,139,1) 51%,rgba(113,123,150,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#717b96',GradientType=0 ); /* IE6-9 */
}

.alert-view .alert-button-primary.alert-button-single {
  width: 258px;
}

.alert-view p {
  padding: 0;
  font-weight: 200;
  font-size: 16px;
  margin: 0 0 23px;
}

.alert-view h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 14px 0 6px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 1);
  line-height: 18px;
  opacity: 0.9;
}